<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>	

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/loginForm.css}"/>
</th:block>	

<div layout:fragment="content">
	<div class="Login">
		<div class="Login__wrap">
			<div class="Login__content">
				<h3>이메일 찾기</h3>
			<form role="form" action="/login/find/email" method="post" name="findEmailForm">
				<div class="Login__content-input">
					<input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력해주세요">
				</div>
				
				<div class="Login__content-input">
					<input type="tel" class="form-control" name="phone" placeholder="'-'를 제외한 전화번호를 입력하세요." maxlength="13" id="phoneInput" oninput="replacePhone(this)">
				</div>
				<p id="phoneError" class="errorInput" style="color: red;"></p>
			
				
				<div class="Login__content-btn">
					<button type="button" class="Login__content-btn-login" onclick="beforSubmit()">찾기</button>
				</div>
				
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			</form>
			</div>
			
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
	// 회원 정보 없을 때
	var errorMessage = [[${errorMessage}]];
	if(errorMessage != null){
		alert(errorMessage);
	} 
	
	// 전화번호 확인
	function replacePhone(obj) {
	    obj.value = obj.value.replace(/[^0-9]/g, '').replace(/^(\d{3})(\d{4})(\d{4})$/, `$1-$2-$3`);
	    validatePhone();
	}
	
	function validatePhone() {
	    const phoneInput = document.getElementById("phoneInput");
	    const phoneError = document.getElementById("phoneError");
	    const phonePattern = /^\d{3}-\d{4}-\d{4}$/; 
	    const phoneValue = phoneInput.value;
	
	    if (!phonePattern.test(phoneValue)) {
	        phoneInput.style.border = "1px solid red";
	        phoneError.textContent = "올바른 전화번호를 입력해주세요.";
	        return false;
	    } else {
	        phoneInput.style.border = "1px solid #ccc";
	        phoneError.textContent = "";
	        return true;
	    }
	}
	
	function beforSubmit(){
		const f = document.findEmailForm;
		
		// 이름 확인
		if(!f.name.value){
			alert('이름을 입력해주세요.');
			f.name.focus();
			return;
		}
		
		// 전화번호
		if(!f.phone.value){
			alert('전화번호를 입력해주세요.');
			f.phone.focus();
			return;
		}else if(!validatePhone()){
			alert('올바른 전화번호를 입력해주세요.');
			f.phone.focus();
			return;
		}
		
		f.submit();
	}
	</script>
</th:block>
</html>