<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/book.css}" />
</th:block>


<div layout:fragment="content">
	<div class="container">
		<div class="inner">
			<p class="box_tit">빠른예매</p>
			<form class="date" action="/book/ticketing" method="get">
				<input type="hidden" name="viewDate" id="selectedDate">
			</form>
			<div class="date" style="margin-bottom: 50px;">
				<div class="calendar-icon">
					<i class="fa-regular fa-calendar-days"></i>
					<div class="year-month"></div>
				</div>
				<div class="calendar"></div>
			</div>
			<div class="movie_ticket_box df" th:if="${schedules.isEmpty()}">
				<div style="margin: 50px 0;">
					<span class="tit c_c4">상영 일정이 없습니다.</span>
				</div>
			</div>
			<div class="movie_ticket_box" th:unless="${schedules.isEmpty()}">
				<div class="pay_sec" id="movieSelect">
					<div style="margin-bottom: 30px !important;">
						<span class="tit">영화</span>
					</div>
					<div class="scrollable-container">
						<div th:each="schedule, status : ${schedules}" style="margin-bottom: 12px;">
							<div th:if="${status.first or schedule.movie.id != schedules[status.index - 1].movie.id}">
								<div class="tit_group" style="margin: 0">
									<p class="age mr-15" th:text="${schedule.age}"></p>
									<p class="tit mr-15" th:text="${schedule.movie.movieTitle}"></p>
								</div>
								<div class="tit_group">
									<p class="sub_txt mr-15 c_c4"
										th:text="${#strings.substringBefore(schedule.movie.genres, ' ')}"></p>
									<span class="sub_txt mr-15 c_c4">|</span>
									<p class="sub_txt mr-15 c_c4" th:id="releaseDate + ${status.index}"
										th:text="${schedule.movie.releaseDate} + ' 개봉'">
									</p>
									<span class="sub_txt mr-15 c_c4">|</span>
									<p class="sub_txt mr-15 c_c4" th:id="runTime + ${status.index}"
										th:text="${schedule.movie.runTime} + '분'"></p>
								</div>
							</div>

							<div class="tit_group">
								<p class="sub_txt mr-15" th:id="where + ${status.index}"
									th:text="${schedule.theaterInfo}"></p>
								<span class="sub_txt mr-15 c_c4">|</span>
								<p class="sub_txt" th:id="capacity + ${status.index}"
									th:text="'총 ' + ${schedule.capacity} + '석'"></p>
							</div>
							<div class="time_wrap">
								<div class="time_list_wrap">
									<div class="time_list" id="timeList"
										th:class="${schedule.startTime lt #temporals.createNow()} ? 'time_list off' : 'time_list on'">
										<input type="radio" th:idx="${status.index}" th:id="${status.index}"
											th:onclick="getMovieData(this.getAttribute('idx'));"
											th:value="${schedule.id}"
											th:disabled="${schedule.startTime lt #temporals.createNow()}" />
										<p style="display: none;" th:id="title + ${status.index}"
											th:text="${schedule.movie.movieTitle}"></p>
										<p style="display: none;" th:id="movieImg + ${status.index}"
											th:text="${schedule.movie.imgUrl}"></p>
										<p style="display: none;" th:id="movieId + ${status.index}"
											th:text="${schedule.id}"></p>
										<p style="display: none;" th:id="startTime + ${status.index}"
											th:text="${#temporals.format(schedule.startTime, 'yyyy-MM-dd HH:mm')}"></p>
										<label th:for="${status.index}">
											<p class="start"
												th:text="${#temporals.format(schedule.startTime, 'HH:mm')}">
											</p>
											<p class="end"
												th:text="${'~' + #temporals.format(schedule.endTime, 'HH:mm')}">
											</p>
										</label>
										<p class="sub_txt status"
											th:if="${schedule.startTime lt #temporals.createNow()}">
											예매마감</p>
										<p class="sub_txt status"
											th:unless="${schedule.startTime lt #temporals.createNow()}">예매가능</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="third_sec" id="selectedMovieInfo" style="border-left: 1px solid #fff;">
					<div class="book_info_wrap">
						<div class="book_info_img">
							<img id="getImgUrl" src="https://daehancinema.co.kr/PETC/assets/images/res_post_default.gif"
								alt="none" style="height: 200px; width: 140px;">
						</div>
						<div class="book_info_con">
							<div class="info_box">
								<p class="tit getTitle"></p>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">상영</p>
									<p class="sub_txt getWhere"></p>
								</div>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">일시</p>
									<p class="sub_txt getDate"></p>
								</div>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">인원</p>
									<p class="sub_txt count" id="reservationCnt"></p>
								</div>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">좌석</p>
									<p class="sub_txt getSeat"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="total_box">
						<div class="total_num df">
							<span class="tit total mr-15">총 합계</span>
							<span class="tit total-price" id="total" style="color: #29a5ff;">0원</span>
						</div>

						<p class="tit">
							<button id="paySelectBtn" class="btn st_nx">결제하기</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/schedule.js}"></script>
	<script type="text/javascript" th:src="@{/js/ticketing.js}"></script>
</th:block>

</html>