<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/book.css}" />
</th:block>


<div layout:fragment="content">
	<div class="container">
		<div class="inner">
			<p class="box_tit df">상영정보 수정</p>
			<div class="box_content df">
				<form class="form_area" role="form" th:action="@{'/book/theater/' + ${theaterFormDto.id}}"
					th:object="${theaterFormDto}" method="post">
					<input type="hidden" th:field="*{id}" />
					<div class="form_wrap">
						<label for="movie">영화</label>
						<div class="df" style="padding-bottom: 12px;">
							<img id="poster" src="" alt="" width="50%" />
						</div>
						<select id="movie" class="form_area_input" th:field="*{movie}" onchange="updatePoster()"
							required>
							<option value="">상영할 영화를 선택해 주세요.</option>
							<option th:each="movie : ${movies}" th:value="${movie.id}"
								th:data-runtime="${movie.runTime}" th:data-imgurl="${movie.imgUrl}"
								th:data-imgalt="${movie.movieTitle.substring(1, movie.movieTitle.length() - 1)}"
								th:text="${movie.movieTitle.substring(1, movie.movieTitle.length() - 1)}"></option>
						</select>
					</div>
					<div class="form_wrap">
						<label for="age">연령등급</label>
						<div class="df" style="align-items: center;">
							<input type="radio" th:field="*{age}" th:value="전체" required />
							<label class="age_grade age age_all" for="age">전체</label>
							<input type="radio" th:field="*{age}" th:value="12" required />
							<label class="age_grade age age_12" for="age">12</label>
							<input type="radio" th:field="*{age}" th:value="15" required />
							<label class="age_grade age age_15" for="age">15</label>
							<input type="radio" th:field="*{age}" th:value="18" required />
							<label class="age_grade age age_18" for="age">18</label>
							<input type="radio" th:field="*{age}" th:value="19" required />
							<label class="age_grade age age_19" for="age">19</label>
						</div>
					</div>
					<div class="form_wrap">
						<label for="theaterInfo">상영관</label>
						<select id="theaterInfo" class="form_area_input" th:field="*{theaterInfo}"
							onchange="updateCapacity()" required>
							<option value="">상영관을 선택해 주세요.</option>
							<option th:value="'1관 6층'">1관 6층</option>
							<option th:value="'2관 6층'">2관 6층</option>
							<option th:value="'3관 6층'">3관 6층</option>
							<option th:value="'4관 6층'">4관 6층</option>
							<option th:value="'5관 7층'">5관 7층</option>
							<option th:value="'6관 7층'">6관 7층</option>
							<option th:value="'7관 7층'">7관 7층</option>
							<option th:value="'8관 7층'">8관 7층</option>
						</select>
					</div>
					<div class="form_wrap">
						<label for="capacity">수용인원</label>
						<input id="capacityInput" class="form_area_input" type="number" th:field="*{capacity}" required
							readonly />
					</div>
					<div class="form_wrap">
						<label for="startTime">상영 시작 시간</label>
						<input id="startTimeInput" class="form_area_input" type="datetime-local" th:field="*{startTime}"
							oninput="updateEndTime()" required />
					</div>
					<div class="form_wrap">
						<label for="endTime">상영종료 시간</label>
						<input id="endTimeInput" class="form_area_input" type="datetime-local" th:field="*{endTime}"
							required />
					</div>
					<div class="df">
						<button class="bttn" type="submit">수정</button>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</form>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/theaterForm.js}"></script>
	<script>

	</script>
</th:block>

</html>