<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/book.css}" />
	<style>
.tit {
	color: #fff;
}
</style>
</th:block>

<div layout:fragment="content">
	<div class="container">
		<div class="inner">
			<p class="box_tit">빠른예매</p>
			<form class="date" action="/book/ticketing" method="get">
				<input type="hidden" name="viewDate" id="selectedDate">
			</form>
			<div class="date" style="margin-bottom: 50px;">
				<div class="calendar-icon">
					<i class="fa-regular fa-calendar-days"></i>
					<div class="year-month"></div>
				</div>
				<div class="calendar"></div>
			</div>
			<div class="movie_ticket_box df" th:if="${schedules.isEmpty()}">
				<div style="margin: 50px 0;">
					<span class="tit c_c4">상영 일정이 없습니다.</span>
				</div>
			</div>
			<div class="movie_ticket_box" th:unless="${schedules.isEmpty()}">
				<div class="first_sec" id="movieSelect">
					<div style="margin-bottom: 30px !important;">
						<span class="tit">영화</span>
					</div>
					<div class="scrollable-container">
						<div th:each="schedule, status : ${schedules}"
							style="margin-bottom: 12px;">
							<div
								th:if="${status.first or schedule.movie.id != schedules[status.index - 1].movie.id}">
								<div class="tit_group" style="margin: 0">
									<p class="age mr-15" th:text="${schedule.age}"></p>
									<p class="tit mr-15 movieTitle"
										th:text="${schedule.movie.movieTitle}"></p>
								</div>
								<div class="tit_group">
									<p class="sub_txt mr-15 c_c4"
										th:text="${#strings.substringBefore(schedule.movie.genres, ' ')}"></p>
									<span class="sub_txt mr-15 c_c4">|</span>
									<p class="sub_txt mr-15 c_c4"
										th:id="releaseDate + ${status.index}"
										th:text="${schedule.movie.releaseDate} + ' 개봉'"></p>
									<span class="sub_txt mr-15 c_c4">|</span>
									<p class="sub_txt mr-15 c_c4" th:id="runTime + ${status.index}"
										th:text="${schedule.movie.runTime} + '분'"></p>
								</div>
							</div>

							<div class="tit_group">
								<p class="sub_txt mr-15" th:id="where + ${status.index}"
									th:text="${schedule.theaterInfo}"></p>
								<span class="sub_txt mr-15 c_c4">|</span>
								<p class="sub_txt" th:id="capacity + ${status.index}"
									th:text="'총 ' + ${schedule.capacity} + '석'"></p>
								<input type="hidden" th:data-capacity="${schedule.capacity}">
							</div>
							<div class="time_wrap">
								<div class="time_list_wrap">
									<div class="time_list" id="timeList"
										th:class="${schedule.startTime lt #temporals.createNow()} ? 'time_list off' : 'time_list on'">
										<input type="radio" th:idx="${status.index}"
											th:id="${status.index}"
											th:onclick="getMovieData(this.getAttribute('idx'));"
											th:value="${schedule.id}"
											th:disabled="${schedule.startTime lt #temporals.createNow()}" />
										<p style="display: none;" th:id="title + ${status.index}"
											th:text="${schedule.movie.movieTitle}"></p>
										<p style="display: none;" th:id="memberId"
											th:text="${member.id}"></p>
										<p style="display: none;" th:id="movieImg + ${status.index}"
											th:text="${schedule.movie.imgUrl}"></p>
										<p style="display: none;" th:id="theaterId + ${status.index}"
											th:text="${schedule.id}"></p>
										<p style="display: none;" th:id="startTime + ${status.index}"
											th:text="${#temporals.format(schedule.startTime, 'yyyy-MM-dd HH:mm')}"></p>
										<label th:for="${status.index}">
											<p class="start"
												th:text="${#temporals.format(schedule.startTime, 'HH:mm')}">
											</p>
											<p class="end"
												th:text="${'~' + #temporals.format(schedule.endTime, 'HH:mm')}">
											</p>
										</label>
										<p class="sub_txt status"
											th:if="${schedule.startTime lt #temporals.createNow()}">
											예매마감</p>
										<p class="sub_txt status"
											th:unless="${schedule.startTime lt #temporals.createNow()}">예매가능</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="second_sec" id="seatSelect" style="display: none;">
					<span class="tit">인원 / 좌석</span> <span class="seat-info">*
						최대 6명 선택 가능</span>

					<!-- type별 가격 다른 부분은 생각해볼것
					
					<select id="seatType">
						<option value="1">우대</option>
						<option value="2">일반</option>
						<option value="3">청소년</option>
					</select>
				
					 -->
					<div class="screen df">SCREEN</div>
					<div id="seatDiv"></div>
					<div
						style="display: flex; align-items: center; justify-content: flex-end; padding: 60px 0;">
						<span class="seat-icon"></span>
						<p class="seat-icon-info">선택가능</p>
						<span class="seat-icon sel-seat"></span>
						<p class="seat-icon-info">현재선택</p>
						<span class="seat-icon done-seat"></span>
						<p class="seat-icon-info">선택불가</p>
					</div>
				</div>

				<div class="pay_sec" id="paySelect" style="display: none;">
					<div>
						<span class="tit">결제수단선택</span>
						<!-- <details style="margin: 30px 0 !important;">
							<summary class="tit">할인쿠폰</summary>
							<select id="coupon">
								<option value="">사용하실 쿠폰을 선택해 주세요.</option>
								<option value=""></option>

							</select>
						</details> -->
						<details style="margin: 30px 0 !important;">
							<summary style="margin-bottom: 10px !important;" class="tit">관람권</summary>
							<select id="voucher">
								<option value="">사용할 관람권을 선택해 주세요.</option>
								<option value=""></option>
							</select>
						</details>
						<details style="margin: 30px 0 !important;">
							<summary style="margin-bottom: 10px !important;" class="tit">포인트</summary>
							<span style="margin-right: 8px;" th:if="${member.point == null}">보유
								포인트 0원</span>
							<span style="margin-right: 8px;"
								th:unless="${member.point == null}"
								th:text="'보유 포인트 ' + ${member.point} + '원'"></span>
							<input placeholder="사용할 포인트" type="number" id="pointInput">
							<button id="usePointBtn" class="sub_txt">사용</button>
							<br />
						</details>

						<div style="margin: 30px 0 !important;">
							<span class="tit"
								style="display: flex; margin-bottom: 10px !important;">최종결제수단</span>
							<input type="radio" value="카카오페이" checked onclick="return false" /> <label
								style="margin-left: 8px;" class="tit" for="카카오페이">카카오페이</label>

						</div>
					</div>

					<div
						style="display: flex; justify-content: space-evenly; text-align: center; margin-bottom: 30px !important;">
						<div
							style="display: flex; align-items: center; align-content: center; flex-direction: column; justify-content: center;">
							<span class="tit" style="display: flex;">결제하실 금액</span> <span
								class="df" id="payTotalPrice">0원</span>
						</div>
						<div>
							<span class="sub_txt">할인내역</span> <span class="tit"
								style="display: flex;">총 할인금액</span> <span class="df"
								id="discountPrice">0원</span>
						</div>
						<div>
							<span class="sub_txt">결제내역</span> <span class="tit"
								style="display: flex;">남은 결제금액</span> <span class="df"
								id="finalPrice">0원</span>
						</div>

					</div>
				</div>

				<div class="third_sec" id="selectedMovieInfo"
					style="border-left: 1px solid #fff;">
					<div
						style="display: flex; justify-content: flex-end; align-items: center;">
						<button id="resetBtn" class="sub_txt">
							초기화<i class="fa-solid fa-arrow-rotate-left"
								style="padding-left: 5px;"></i>
						</button>
					</div>
					<div class="book_info_wrap">
						<div class="book_info_img">
							<img id="getImgUrl"
								src="https://daehancinema.co.kr/PETC/assets/images/res_post_default.gif"
								alt="none" style="height: 200px; width: 140px;">
						</div>
						<div class="book_info_con">
							<div class="info_box">
								<p class="tit getTitle">-</p>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">상영</p>
									<p class="sub_txt getWhere">-</p>
								</div>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">일시</p>
									<p class="sub_txt getDate">-</p>
								</div>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">인원</p>
									<p class="sub_txt count" id="reservationCnt">-</p>
								</div>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">좌석</p>
									<p class="sub_txt getSeat">-</p>
								</div>
							</div>
						</div>
					</div>
					<div class="total_box">
						<div class="total_num df">
							<span class="tit total mr-15" id="totalPrice"
								style="display: block;">총 합계</span> <span
								class="tit total-price" id="total"
								style="color: #29a5ff; display: block;">0원</span>
						</div>

						<p class="tit" id="paySelectWrap" style="display: block;">
							<button id="paySelectBtn" class="btn st_nx">결제수단선택</button>
						</p>
						<p class="tit" id="payBtnWrap" style="display: none;">
							<button id="payBtn" class="btn st_nx">결제하기</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<!-- <script type="text/javascript" th:src="@{/js/schedule.js}"></script>
	<script type="text/javascript" th:src="@{/js/ticketing.js}"></script> -->
	
	<script th:inline="javascript">
	// 좌석수, theaterId, 좌석 총 개수, memberId 초기화
	var seatCnt = 0;
	var theaterId = 0;
	var seatNum = 0;
	var memberId = 0;
	var discount = 0;

	// 선택된 좌석을 담을 배열 초기화
	var selectedSeats = [];

	$("#paySelectWrap").on("click", function() {
		$("#movieSelect").css("display", "none");
		$("#paySelectWrap").css("display", "none");
		$("#seatSelect").css("display", "none");
		$("#totalPrice").css("display", "none");
		$("#total").css("display", "none");
		$("#paySelect").css("display", "block");
		$("#paySelect").css("width", "66.67%");
		$("#payBtnWrap").css("display", "block");
	});


	// 결제 버튼 클릭 시
	$("#payBtnWrap").on("click", function() {
		// 예매 정보를 데이터로 준비
		var data = {
			theaterId: theaterId,
			totalPrice: seatCnt * 10000,
			seatList: selectedSeats.join(", "), // 배열을 문자열로 변환하여 할당
			seatCnt: seatCnt,
			memberId: memberId
		}

	/*	// 서버로 예매 정보 전송
		$.ajax({
			type: "POST",
			url: "/book/ticketing",
			contentType: "application/json",
			data: JSON.stringify(data),
			beforeSend: function(jqXHR, setting) {
				var header = $("meta[name='_csrf_header']").attr("content");
				var token = $("meta[name='_csrf']").attr("content");
				jqXHR.setRequestHeader(header, token);
			},
			success: function(data) {
				
				alert('예매가 완료되었습니다.');
				window.location.href = '/members/reserv';
				
				//debugger
			},
			error: function(error) {
				debugger
				console.log(error);
			}
		});*/
		
			$.ajax({
			type: 'GET',
			url: '/bookpay/ready',
			contentType: 'application/x-www-form-urlencoded;charset=utf-8',
			data: data,
			success: function(res) {
				var box = res.next_redirect_pc_url;
				var popupWidth = 500;
				var popupHeight = 800;
				var left = (screen.width - popupWidth) / 2;
				var top = (screen.height - popupHeight) / 2;
				var popupOptions = "width=" + popupWidth + ",height=" + popupHeight + ",top=" + top + ",left=" + left;
				window.open(box, "KakaoPay", popupOptions);
		/*	
				alert('예매가 완료되었습니다.');
				window.location.href = '/members/reserv';*/
			}
		});
	});

	// 좌석 클릭 시
	function clickSeat(idx) {
		if ($("#seat" + idx).hasClass("done")) {
			alert("이미 예매된 좌석입니다.");
			return false;
		}

		if ($("#seat" + idx).hasClass("selectSeat")) {
			// 좌석 해제
			$("#seat" + idx).removeClass("selectSeat");
			seatCnt--;
			// 배열에서 해당하는 좌석 제거
			var index = selectedSeats.indexOf(idx);
			if (index !== -1) {
				selectedSeats.splice(index, 1);
			}
		} else {
			if (seatCnt >= 6) {
				// 좌석수 제한
				alert("최대 6명까지만 선택 가능합니다.");
				return false;
			}
			// 좌석 선택
			$("#seat" + idx).addClass("selectSeat");
			seatCnt++;
			// 배열에서 해당하는 좌석 추가
			selectedSeats.push(idx);
			// 오름차순 정렬
			selectedSeats.sort(function(a, b) {
				return a - b;
			});
		}

		// 선택한 좌석수와 총 금액 업데이트
		$("#reservationCnt").text(seatCnt + "명");
		var totalAmount = Number(seatCnt) * 10000;
		$("#total").text(totalAmount + "원");
		$("#payTotalPrice").text(totalAmount + "원");
		$("#finalPrice").text(totalAmount - Number(discount) + "원");
		
		

		// 선택한 좌석 업데이트
		var selectSeat = getSelectSeat();
		$(".getSeat").text(selectSeat);
	}

	// 선택한 좌석을 문자열로 변환
	function getSelectSeat() {
		return selectedSeats.join(", ");
	}

	// 영화 정보 가져오는 함수
	function getMovieData(idx) {
		// 초기화
		seatCnt = 0;
		$("#reservationCnt").text(`0명`);
		$("#total").text(`0원`);
		$(".getSeat").text("좌석 선택 가능");

		// 좌석 초기화
		selectedSeats = [];

		// 영화정보 가져와서 저장
		theaterId = $("#theaterId" + idx).text();
		var seat = $("#capacity" + idx).text();
		seatNum = seat.replace("석", "").replace("총 ", "");
		memberId = $("#memberId").text();
		
		// 영화정보 표시
		$(".getTitle").text($("#title" + idx).text());
		$(".getWhere").text($("#where" + idx).text());
		$(".getDate").text($("#startTime" + idx).text());
		$("#getImgUrl").attr("src", $("#movieImg" + idx).text());

		$("#seatDiv").html("");

		// 선택한 영화 좌석정보 조회
		getSeatData(seatNum);
	}

	// 서버로부터 좌석정보 가져와서 화면에 표시하는 함수
	function getSeatData(seatNum) {
		var data = {
			theaterId: theaterId,
		}
		$.ajax({
			type: "POST",
			url: "/book/getSeatData",
			contentType: "application/json",
			data: JSON.stringify(data),
			beforeSend: function(jqXHR, setting) {
				var header = $("meta[name='_csrf_header']").attr("content");
				var token = $("meta[name='_csrf']").attr("content");
				jqXHR.setRequestHeader(header, token);
			},
			success: function(data) {
				var html = "";
				var getIdx = 0;

				// 좌석정보를 화면에 표시
				for (var i = 1; i <= Number(seatNum); i++) {
					if (data.list[getIdx] == i) {
						html += '<span class="boxClr done" onclick="clickSeat(' + i + ')" id="seat' + i + '">' + i + '</span>';
						getIdx++;
						
					} else {
						html += '<span class="boxClr" onclick="clickSeat(' + i + ')" id="seat' + i + '">' + i + '</span>';
					}
					if (i % 10 == 0) {
						html += '<br>';
					}
				}

				$("#seatDiv").html(html);
				$("#movieSelect").css("width", "33.33%");
				$("#seatSelect").css("display", "block");

			},
			error: function(error) {
				debugger
				console.log(error);
			}
		});
	}

	// 예매 초기화 버튼
	$("#resetBtn").on("click", function() {
		window.location.href = '/book/ticketing';
	});
	
	// 달력 생성
	function makeCalendar() {
		// 달력 요소를 가져옴
		const calendar = document.querySelector('.calendar');
		const calendarDays = []; // 달력에 표시할 날짜를 저장할 배열
		const currentDate = new Date(); // 현재 날짜를 가져온다
		const nextWeek = new Date(currentDate); // 현재 날짜로부터 7일 뒤 날짜 계산
		nextWeek.setDate(nextWeek.getDate() + 7);
		const urlParams = new URLSearchParams(window.location.search);
		const selectedDate = urlParams.get('viewDate'); // url에서 viewDate 매개변수를 가져온다
		const yearMonthElement = document.querySelector('.year-month'); // 년월을 표시할 요소를 가져온다

		// 선택된 날짜가 없으면 현재 날짜 사용
		let firstDayFormattedDate = selectedDate || formatDate(currentDate);

		// 현재 날짜부터 다음 주까지의 날짜를 반복
		while (currentDate <= nextWeek) {
			const year = currentDate.getFullYear(); // 년 
			const month = currentDate.getMonth() + 1; // 월
			const day = currentDate.getDate(); // 일을 가져온다
			const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`;

			// 중복되지 않는 날짜를 배열에 추가하고 달력에 날짜 추가
			if (!calendarDays.includes(formattedDate)) {
				calendarDays.push(formattedDate);
				const dayHtml = `<div class="calendar-day" data-date="${formattedDate}">${day}</div>`;
				calendar.innerHTML += dayHtml;
			}

			// 다음 날짜로 이동
			currentDate.setDate(currentDate.getDate() + 1);
		}

		// 각 날짜에 클릭 이벤트 추가, 선택된 날짜에 클래스 추가
		calendarDays.forEach((day, index) => {
			const dayElement = calendar.querySelectorAll('.calendar-day')[index];
			dayElement.addEventListener('click', () => {
				document.getElementById('selectedDate').value = day;
				const [year, month] = day.split('-');
				yearMonthElement.textContent = `${year}-${month}`;
				document.querySelector('form.date').submit();
			});

			if (day === selectedDate) {
				dayElement.classList.add('selected-day');
			}
		});

		// 선택된 날짜가 있으면 해당 년월을 표시, 없으면 첫번째 날짜의 년월을 표시
		if (selectedDate) {
			const [year, month] = selectedDate.split('-');
			yearMonthElement.textContent = `${year}-${month}`;
		} else {
			const [year, month] = firstDayFormattedDate.split('-');
			yearMonthElement.textContent = `${year}-${month}`;
		}
	}

	// 날짜를 YYYY-MM 형식으로 포맷
	function formatDate(date) {
		const year = date.getFullYear();
		const month = date.getMonth() + 1;
		return `${year}-${month.toString().padStart(2, '0')}`;
	}

	// 나이에 따른 클래스 추가
	function addAgeClass(elementClass) {
		const elements = document.querySelectorAll('.' + elementClass); // 클래스가 있는 모든 요소 선택
		elements.forEach(element => {
			const ageValue = element.textContent; // 텍스트 내용을 가져온다
			const ageClass = ageValue === "전체" ? "age_all" : "age_" + ageValue; // 나이에 따라 클래스 이름 생성
			element.classList.add(ageClass); // 생성된 클래스를 요소에 추가
		});
	}

	// 나이에 따른 클래스 추가 함수 호출
	addAgeClass("age");

	// 달력 생성하는 함수 호출
	makeCalendar();

	</script>
</th:block>

</html>