<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/book.css}" />
	<style>
.tit {
	color: #fff;
}
</style>
</th:block>

<div layout:fragment="content">
	<div class="container">
		<div class="inner">
			<p class="box_tit">빠른예매</p>
			<form class="date" action="/book/ticketing" method="get">
				<input type="hidden" name="viewDate" id="selectedDate">
			</form>
			<div class="date" style="margin-bottom: 50px;">
				<div class="calendar-icon">
					<i class="fa-regular fa-calendar-days"></i>
					<div class="year-month"></div>
				</div>
				<div class="calendar"></div>
			</div>
			<div class="movie_ticket_box df" th:if="${schedules.isEmpty()}">
				<div style="margin: 50px 0;">
					<span class="tit c_c4">상영 일정이 없습니다.</span>
				</div>
			</div>
			<div class="movie_ticket_box" th:unless="${schedules.isEmpty()}">
				<div class="first_sec" id="movieSelect">
					<div style="margin-bottom: 30px !important;">
						<span class="tit">영화</span>
					</div>
					<div class="scrollable-container">
						<div th:each="schedule, status : ${schedules}"
							style="margin-bottom: 12px;">
							<div
								th:if="${status.first or schedule.movie.id != schedules[status.index - 1].movie.id}">
								<div class="tit_group" style="margin: 0">
									<p class="age mr-15" th:text="${schedule.age}"></p>
									<p class="tit mr-15 movieTitle"
										th:text="${schedule.movie.movieTitle}"></p>
								</div>
								<div class="tit_group">
									<p class="sub_txt mr-15 c_c4"
										th:text="${#strings.substringBefore(schedule.movie.genres, ' ')}"></p>
									<span class="sub_txt mr-15 c_c4">|</span>
									<p class="sub_txt mr-15 c_c4"
										th:id="releaseDate + ${status.index}"
										th:text="${schedule.movie.releaseDate} + ' 개봉'"></p>
									<span class="sub_txt mr-15 c_c4">|</span>
									<p class="sub_txt mr-15 c_c4" th:id="runTime + ${status.index}"
										th:text="${schedule.movie.runTime} + '분'"></p>
								</div>
							</div>

							<div class="tit_group">
								<p class="sub_txt mr-15" th:id="where + ${status.index}"
									th:text="${schedule.theaterInfo}"></p>
								<span class="sub_txt mr-15 c_c4">|</span>
								<p class="sub_txt" th:id="capacity + ${status.index}"
									th:text="'총 ' + ${schedule.capacity} + '석'"></p>
								<input type="hidden" th:data-capacity="${schedule.capacity}">
							</div>
							<div class="time_wrap">
								<div class="time_list_wrap">
									<div class="time_list" id="timeList"
										th:class="${schedule.startTime lt #temporals.createNow()} ? 'time_list off' : 'time_list on'">
										<input type="radio" th:idx="${status.index}"
											th:id="${status.index}"
											th:onclick="getMovieData(this.getAttribute('idx'));"
											th:value="${schedule.id}"
											th:disabled="${schedule.startTime lt #temporals.createNow()}" />
										<p style="display: none;" th:id="title + ${status.index}"
											th:text="${schedule.movie.movieTitle}"></p>
										<p style="display: none;" th:id="memberId"
											th:text="${member.id}"></p>
										<p style="display: none;" th:id="movieImg + ${status.index}"
											th:text="${schedule.movie.imgUrl}"></p>
										<p style="display: none;" th:id="theaterId + ${status.index}"
											th:text="${schedule.id}"></p>
										<p style="display: none;" th:id="startTime + ${status.index}"
											th:text="${#temporals.format(schedule.startTime, 'yyyy-MM-dd HH:mm')}"></p>
										<label th:for="${status.index}">
											<p class="start"
												th:text="${#temporals.format(schedule.startTime, 'HH:mm')}">
											</p>
											<p class="end"
												th:text="${'~' + #temporals.format(schedule.endTime, 'HH:mm')}">
											</p>
										</label>
										<p class="sub_txt status"
											th:if="${schedule.startTime lt #temporals.createNow()}">
											예매마감</p>
										<p class="sub_txt status"
											th:unless="${schedule.startTime lt #temporals.createNow()}">예매가능</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="second_sec" id="seatSelect" style="display: none;">
					<span class="tit">인원 / 좌석</span> <span class="seat-info">*
						최대 6명 선택 가능</span>

					<!-- type별 가격 다른 부분은 생각해볼것
					
					<select id="seatType">
						<option value="1">우대</option>
						<option value="2">일반</option>
						<option value="3">청소년</option>
					</select>
				
					 -->
					<div class="screen df">SCREEN</div>
					<div id="seatDiv"></div>
					<div
						style="display: flex; align-items: center; justify-content: flex-end; padding: 60px 0;">
						<span class="seat-icon"></span>
						<p class="seat-icon-info">선택가능</p>
						<span class="seat-icon sel-seat"></span>
						<p class="seat-icon-info">현재선택</p>
						<span class="seat-icon done-seat"></span>
						<p class="seat-icon-info">선택불가</p>
					</div>
				</div>

				<div class="pay_sec" id="paySelect" style="display: none;">
					<div>
						<span class="tit">결제수단선택</span>
						<!-- <details style="margin: 30px 0 !important;">
							<summary class="tit">할인쿠폰</summary>
							<select id="coupon">
								<option value="">사용하실 쿠폰을 선택해 주세요.</option>
								<option value=""></option>

							</select>
						</details> -->
						<details style="margin: 30px 0 !important;">
							<summary style="margin-bottom: 10px !important;" class="tit">관람권</summary>
							<select id="voucher">
								<option value="">사용할 관람권을 선택해 주세요.</option>
								<option value=""></option>
							</select>
						</details>
						<details style="margin: 30px 0 !important;">
							<summary style="margin-bottom: 10px !important;" class="tit">포인트</summary>
							<span style="margin-right: 8px;" th:if="${member.point == null}">보유
								포인트 0원</span>
							<span style="margin-right: 8px;"
								th:unless="${member.point == null}"
								th:text="'보유 포인트 ' + ${member.point} + '원'"></span>
							<input placeholder="사용할 포인트" type="number" id="pointInput">
							<button id="usePointBtn" class="sub_txt">사용</button>
							<br />
						</details>

						<div style="margin: 30px 0 !important;">
							<span class="tit"
								style="display: flex; margin-bottom: 10px !important;">최종결제수단</span>
							<input type="radio" value="카카오페이" checked onclick="return false" /> <label
								style="margin-left: 8px;" class="tit" for="카카오페이">카카오페이</label>

						</div>
					</div>

					<div
						style="display: flex; justify-content: space-evenly; text-align: center; margin-bottom: 30px !important;">
						<div
							style="display: flex; align-items: center; align-content: center; flex-direction: column; justify-content: center;">
							<span class="tit" style="display: flex;">결제하실 금액</span> <span
								class="df" id="payTotalPrice">0원</span>
						</div>
						<div>
							<span class="sub_txt">할인내역</span> <span class="tit"
								style="display: flex;">총 할인금액</span> <span class="df"
								id="discountPrice">0원</span>
						</div>
						<div>
							<span class="sub_txt">결제내역</span> <span class="tit"
								style="display: flex;">남은 결제금액</span> <span class="df"
								id="finalPrice">0원</span>
						</div>

					</div>
				</div>

				<div class="third_sec" id="selectedMovieInfo"
					style="border-left: 1px solid #fff;">
					<div
						style="display: flex; justify-content: flex-end; align-items: center;">
						<button id="resetBtn" class="sub_txt">
							초기화<i class="fa-solid fa-arrow-rotate-left"
								style="padding-left: 5px;"></i>
						</button>
					</div>
					<div class="book_info_wrap">
						<div class="book_info_img">
							<img id="getImgUrl"
								src="https://daehancinema.co.kr/PETC/assets/images/res_post_default.gif"
								alt="none" style="height: 200px; width: 140px;">
						</div>
						<div class="book_info_con">
							<div class="info_box">
								<p class="tit getTitle">-</p>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">상영</p>
									<p class="sub_txt getWhere">-</p>
								</div>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">일시</p>
									<p class="sub_txt getDate">-</p>
								</div>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">인원</p>
									<p class="sub_txt count" id="reservationCnt">-</p>
								</div>
								<div class="info_list">
									<p class="sub_txt c_c4 mr-15">좌석</p>
									<p class="sub_txt getSeat">-</p>
								</div>
							</div>
						</div>
					</div>
					<div class="total_box">
						<div class="total_num df">
							<span class="tit total mr-15" id="totalPrice"
								style="display: block;">총 합계</span> <span
								class="tit total-price" id="total"
								style="color: #29a5ff; display: block;">0원</span>
						</div>

						<p class="tit" id="paySelectWrap" style="display: block;">
							<button id="paySelectBtn" class="btn st_nx">결제수단선택</button>
						</p>
						<p class="tit" id="payBtnWrap" style="display: none;">
							<button id="payBtn" class="btn st_nx">결제하기</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/schedule.js}"></script>
	<script type="text/javascript" th:src="@{/js/ticketing.js}"></script>
</th:block>

</html>