<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">
</th:block>



<div layout:fragment="content">
	<div class="pageTitle bg_blue">
				<div class="layout1">
					<h2 class="tit">고객센터</h2>
					<p class="desc">OSTB에 대해 궁금하신 점이 있다면<br>무엇이든 물어보세요!</p>
				</div>
				<!-- pageTab -->
				<div class="pageTab">
					<div class="tab_ui type1 pageTabSwiper">
						<div class="tab_wrap swiper-container swiper-container-horizontal">
							<ul class="tab_inner swiper-wrapper">
								<li class="swiper-slide tab  swiper-slide-active"><a href="/FAQ/list"><span>FAQ</span></a></li>
								<li class="swiper-slide tab swiper-slide-next"><a href="/chatt/mychatt" onclick="return checkLogin();"><span>1:1 문의</span></a></li>
								<li class="swiper-slide tab active"><a href="/notice/list" ><span>공지사항</span></a></li>
								<li class="swiper-slide tab"><a href="/lost/list"><span>분실물 문의</span></a></li>
							</ul>
						<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
					</div>
				</div>
				<!--// pageTab -->
			</div>
			
			<section class="wrap_con py-5">
				<div class="tab_ui type2 tabSwiper py-5" th:if="${notices.isEmpty()}">
					<div class="layout2">			
							<h3 style="color: white;font-size: 30px;text-align: center;bottom: 30px;position: relative;">등록된 글이 없습니다.</h3>
							<a href="/notice/create" class="btn_typeB1 tab_inner swiper-wrapper" style="margin-left: 0px;" sec:authorize="hasAnyRole('ROLE_USER')"><span>공지사항 등록</span></a>	
					</div>
				</div>
				
				
				<div class="layout2" th:if="${not notices.isEmpty()}">
					<!-- list top -->
					<div class="list_top_ui">
						<div class="list_total">총 <em>[[${totalCount}]]건</em>
							<a href="/notice/create" class="btn_typeB1" sec:authorize="isAuthenticated()" style="width: 180px;margin-left: 983px;"><span>공지사항 등록</span></a>
						</div>
						<!-- 검색어 입력 시 -->
						
						<div class="search_area">
							<div class="search_bundle">
								<div class="inp_search">
									<!-- <form name="faqDtlForm" id="faqDtlForm" method="post" action="/cu/cmct/faqDtlList.nhd">
										<input type="hidden" name="pageSize" id="pageSize" value="10">
										<input type="hidden" name="pageIndex" id="pageIndex" value="0">
										<input type="hidden" name="faqTypeGbcd" id="faqTypeGbcd" value="">
										<input type="search" name="searchStr" id="searchStr" class="inp_self" placeholder="검색어를입력해주세요.">
										<button type="button" class="btn_search" onclick="doSearch( '');"><span class="hidden"></span></button>
									</form> -->
								</div>
							</div>
						</div>
					</div>

						<div class="board_list_type2">
							<th:block th:each="notice, status: ${notices.getContent()}">
							<ul class="py-1">
									<li class="ac_item" th:data-target="${notice.id}">
									<a th:href="@{'/notice/read/' + ${notice.id}}">
											<span class="num">[[${notice.id}]]</span>
											<span class="tag">공지</span>
											<p class="subject"><span class="kinds"></span>[[${notice.noticeTitle}]]</p>
											<div class="date">[[${notice.regTime}]]</div>
									</a>
									</li>
							</ul>
							</th:block>
						</div>
					
					<!--// list -->

					<!-- paging -->
					
						<!-- pc -->
						<div class="wrap_paging mo_none">
						<nav
							th:with="start=${(notices.number/maxPage)*maxPage + 1}
			                 ,end=(${(notices.totalPages == 0) ? 1 : (start + (maxPage - 1) < notices.totalPages ? start + (maxPage - 1) : notices.totalPages)})"
							>
							<pagination>
								<ul class="pagination">
												<li class="pagination-page page-item"
													th:classappend="${notices.first}?'disabled'"
													>
													<a 
													class="page-link"
													th:href="@{'/notice/list/' + ${notices.number-1}}">이전</a></li>
													
												<li class="pagination-page page-item"
													th:each="page: ${#numbers.sequence(start, end)}"
													th:classappend="${notices.number eq page-1}?'active':''">
													<a class="page-link"
													 th:inline="text"
													 th:href="@{'/notice/list/' + ${page-1}}">[[${page}]]</a></li>
													 
												<li class="pagination-page page-item"
													th:classappend="${notices.last}?'disabled'">
													<a class="page-link"
													th:href="@{'/notice/list/' + ${notices.number+1}}">다음</a></li>
								</ul>
							</pagination>
						 </nav>
						</div>
				</div>
			</section>
			
			
</div>	
	
<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/cookie.js}"></script>
<script th:inline="javascript">
async function checkLogin() {
    try {
        const response = await fetch("/check-login", {
            method: "GET",
            credentials: "include" // 쿠키를 전송하기 위해 필요한 옵션
        });

        const data = await response.json();
        if (data.isAuthenticated) {
            // 로그인된 상태라면 링크를 클릭한 후 이동
            return true;
        } else {
            alert("로그인이 필요합니다."); // 또는 원하는 메시지 출력
            window.location.href = "/login/loginForm"; // 로그인 페이지로 리다이렉트
            return false; // 링크를 클릭해도 이동하지 않음
        }
    } catch (error) {
        console.error("로그인 여부 확인 중 오류:", error);
        // 에러 발생 시 어떻게 처리할지 정의
    }
}

</script>



</th:block>
	
</html>