<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div layout:fragment="content">

    <h1>리뷰 수정</h1>
    <form action="/member/reviewUpdatePage/{reviewId}" method="post">
        <input type="hidden" name="id" th:value="${review.id}" />
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        
        <div>
            <label for="content">내용:</label>
            <textarea id="content" name="content" th:text="${review.content}"></textarea>
        </div>
        
        <div>
            <button type="submit">리뷰 업데이트</button>
        </div>
    </form>
</div>
</html>