<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="site-footer custom-border-top" th:fragment="footer">
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-12 footer">
					<!-- Footer Social Info -->
					<div
						class="footer-social-info d-flex align-items-center justify-content-between"
						style="display: flex;">
						<a href="#"><span>회사소개</span></a> <a href="#"><span>채용정보</span></a>
						<a href="#"><span>지속가능경영</span></a> <a href="#"><span>광고/제휴/출점문의</span></a>
						<a href="#"><span>IR</span></a> <a href="#"><span>이용약관</span></a>
						<a href="#"><span>편성기준</span></a><a href="#"><span>개인정보처리방침</span></a>
					</div>
					<div class="footer_detail">
						<div class="footer_1">
							<address class="address">
								<i class="fa-solid fa-building" style="color: #29a5ff;"></i>(04377)서울특별시
								용산구 한강대로 23길 55, 아이파크몰 6층(한강로동)
							</address>
							<p class="call">
								<i class="fa-solid fa-phone-volume" style="color: #29a5ff;"></i>
								010-1234-1234 &nbsp;&nbsp;&nbsp;&nbsp; |
								&nbsp;&nbsp;&nbsp;&nbsp; 010-4321-4321
							</p>
						</div>
						<div class="footer_2">
							<dl>
								<dt>조장</dt>
								<dd>장 성우</dd>
							</dl>
							<dl>
								<dt>조원</dt>
								<dd>신 민철, 장 지수, 김 건, 이 재원</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</html>