<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/movieDtl.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/reviewModal.css}"/>
</th:block>	

<div layout:fragment="content" style="padding-top: 150px;">
	<div class="wrap">
          <div class="main">
            <div class="main-top">
              <div class="main-left">
                <div class="images">
                	<div class="img_thumb notPost" th:if="${movieDtl.imgUrl != null and movieDtl.imgUrl.contains('null')}">포스터 준비중입니다.</div>
                	<img th:alt="${movieDtl.movieTitle}" th:src="${movieDtl.imgUrl}" th:unless="${movieDtl.imgUrl != null and movieDtl.imgUrl.contains('null')}">
                </div>
              </div>
              <div class="main-right">
                <div class="right-top">
                  <h4 class="tagline" th:text="${movieDtl.tagline}"></h4>
                  <div class="contents-wrap">
                    <div class="contents">
                      <h1 class="title" th:text="${movieDtl.movieTitle}"></h1>
                      <div style="display: flex">
                        <p class="runtime" th:text="'러닝타임: ' + ${movieDtl.runTime} + '분'"></p>
                      </div>
                      <p class="day" th:text="'개봉일: ' + ${movieDtl.releaseDate}"></p>
                      <p class="genres" th:text="'장르: ' + ${movieDtl.genres}"></p>
                    </div>
                    <div class="average">
                      <i class="fa-solid fa-star star fa-2x" style="color: #fff700;"></i>
                      <p th:text="${movieDtl.voteAverage}"></p>
                    </div>
                  </div>
                </div>
                <th:block th:if="${movieDtl.description != ''}">
                	<div class="right-bottom">
	                  <p>줄거리</p>
	                  <p class="overview" th:text="${movieDtl.description}"></p>
	                </div>
                </th:block>
              </div>
            </div>
            
            <th:block th:if="${movieDtl.trailerUrl != null}">
            	<div class="main-bottom">
	            	<p>예고편</p>
	            	<div class="video">
	            		<iframe id="video" width="1170" height="720" th:src="${movieDtl.trailerUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	            	</div>
	            </div>
            </th:block>
            <div class="regist_review">
				<button class="openModalBtn" id="openModalBtn">리뷰등록</button>
					<div id="myModal" class="modal">
					  <div class="modal-content">
					    <span class="close">&times;</span>
					    <p>리뷰를 작성해주세요.</p>
					   	<form th:action="'/movie/detail/' + ${movieDtl.id}" method="post" class="contact-form" th:object="${reviewDto}" name="review" enctype="multipart/form-data">
					  	 	<div>
				         		 <input type="text" class="form-control" th:field="*{content}">
				         	<input type="hidden" name="movieId" th:value="${movieDtl.id}">
						    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" >
			          	  </div>
					    <button type="button" onclick="beforeSubmit()" class="create_rvbutton">작성완료!</button>
				        </form>
					  </div>
					</div>
            </div>
    </div>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
	
	$(document).ready(function(){
    	var errorMessage = [[${errorMessage}]];
    	if(errorMessage != null){
        	alert(errorMessage);
    	}
    	
		bindDomEvent(); //이벤트를 등록
	});
	
	function beforeSubmit() {
		const f = document.review;
		
		
		if(!f.content.value) {
			alert('내용을 입력해주세요.');
			f.content.focus();
			return;
		}
		f.submit();
	}
	
	// 열기 버튼 클릭 시 모달 열기
	document.getElementById("openModalBtn").addEventListener("click", function() {
	  var modal = document.getElementById("myModal");
	  modal.style.display = "block";
	  modal.style.alignItems = "center"; // 수직 가운데 정렬
	  modal.style.justifyContent = "center"; // 수평 가운데 정렬
	});

	// 모달 닫기 버튼 클릭 시 모달 닫기
	document.querySelector(".close").addEventListener("click", function() {
	  document.getElementById("myModal").style.display = "none";
	});

	// 모달 외부 클릭 시 모달 닫기
	window.addEventListener("click", function(event) {
	  if (event.target == document.getElementById("myModal")) {
	    document.getElementById("myModal").style.display = "none";
	  }
	});
	
	</script>
</th:block>
</html>