<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="site-navbar bg-white" th:fragment="header">
	<div class="header">
		<div class="asd">
			<div class="row">
				<div class="header-area">
					<div class="nikki-main-menu">
						<div class="classy-nav-container breakpoint-off">
							<div class="container-fluid">
								<nav class="classy-navbar justify-content-between" id="nikkiNav">
									<div class="classy-menu">
										<div class="classycloseIcon">
											<div class="cross-wrap">
												<span class="top"></span><span class="bottom"></span>
											</div>
										</div>
										<div class="logo_bar">
											<a href="/"> <img src="/images/logo.png" alt="logo"
												class="logoimg" /></a>
										</div>
										<div class="classynav">
											<ul>
												<li><a href="/">홈</a></li>
												<li><a href="/movie/chart">영화</a>
													<div class="megamenu">
														<ul class="single-mega cn-col-7">
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">영화</p></li>
															<li><a href="/movie/chart">-무비차트</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">예매</p></li>
															<li><a href="#">- 빠른예매</a></li>
															<li><a href="/book/schedule">- 상영시간표</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">스토어</p></li>
															<li><a href="/item/items/POPCON">- 팝콘</a></li>
															<li><a href="/item/items/TICKET">- 영화관람권</a></li>
															<li><a href="/item/items/VOUCHER">- 상품권</a></li>
															<li><a href="/item/items/GOODS">- 굿즈</a></li>
															<li><a href="/item/items/SNAK">- 스낵</a></li>
															<li><a href="/item/items/DRINK">- 음료</a></li>
														</ul>
														<!-- <ul class="single-mega cn-col-5">
															<li><p class="first_title">이벤트</p></li>
															<li><a href="#">- 룰렛 이벤트</a></li>
														</ul> -->
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">고객센터</p></li>
															<li><a href="/FAQ/list"
																onclick="return checkLogin();">- FAQ</a></li>
															<li><a href="/notice/list">- 공지사항</a></li>
															<li><a href="/lost/list"
																onclick="return checkLogin();">- 분실물 문의</a></li>
															<li><a href="/chatt/mychatt"
																onclick="return checkLogin();">- 채팅 문의</a></li>
														</ul>
													</div></li>
												<li><a href="#">예매</a>
													<div class="megamenu">
														<ul class="single-mega cn-col-7">
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">영화</p></li>
															<li><a href="/movie/chart">-무비차트</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">예매</p></li>
															<li><a href="#">- 빠른예매</a></li>
															<li><a href="/book/schedule">- 상영시간표</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">스토어</p></li>
															<li><a href="/item/items/POPCON">- 팝콘</a></li>
															<li><a href="/item/items/TICKET">- 영화관람권</a></li>
															<li><a href="/item/items/VOUCHER">- 상품권</a></li>
															<li><a href="/item/items/GOODS">- 굿즈</a></li>
															<li><a href="/item/items/SNAK">- 스낵</a></li>
															<li><a href="/item/items/DRINK">- 음료</a></li>
														</ul>

														<!-- <ul class="single-mega cn-col-5">
															<li><p class="first_title">이벤트</p></li>
															<li><a href="#">- 룰렛 이벤트</a></li>
														</ul> -->
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">고객센터</p></li>
															<li><a href="/FAQ/list"
																onclick="return checkLogin();">- FAQ</a></li>
															<li><a href="/notice/list">- 공지사항</a></li>
															<li><a href="/lost/list"
																onclick="return checkLogin();">- 분실물 문의</a></li>
															<li><a href="/chatt/mychatt"
																onclick="return checkLogin();">- 채팅 문의</a></li>
														</ul>
													</div></li>
												<li><a href="#">스토어</a>
													<div class="megamenu">
														<ul class="single-mega cn-col-7">
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">영화</p></li>
															<li><a href="/movie/chart">-무비차트</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">예매</p></li>
															<li><a href="#">- 빠른예매</a></li>
															<li><a href="/book/schedule">- 상영시간표</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">스토어</p></li>
															<li><a href="/item/items/POPCON">- 팝콘</a></li>
															<li><a href="/item/items/TICKET">- 영화관람권</a></li>
															<li><a href="/item/items/VOUCHER">- 상품권</a></li>
															<li><a href="/item/items/GOODS">- 굿즈</a></li>
															<li><a href="/item/items/SNAK">- 스낵</a></li>
															<li><a href="/item/items/DRINK">- 음료</a></li>
														</ul>

														<!-- <ul class="single-mega cn-col-5">
															<li><p class="first_title">이벤트</p></li>
															<li><a href="#">- 룰렛 이벤트</a></li>
														</ul> -->
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">고객센터</p></li>
															<li><a href="/FAQ/list"
																onclick="return checkLogin();">- FAQ</a></li>
															<li><a href="/notice/list">- 공지사항</a></li>
															<li><a href="/lost/list"
																onclick="return checkLogin();">- 분실물 문의</a></li>
															<li><a href="/chatt/mychatt"
																onclick="return checkLogin();">- 채팅 문의</a></li>
														</ul>
													</div></li>
												<!-- <li><a href="#">이벤트</a>
													<div class="megamenu">
														<ul class="single-mega cn-col-7">
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">영화</p></li>
															<li><a href="/movie/chart">-무비차트</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">예매</p></li>
															<li><a href="#">- 빠른예매</a></li>
															<li><a href="/book/schedule">- 상영시간표</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">스토어</p></li>
															<li><a href="/order/myCart">- 팝콘</a></li>
															<li><a href="/item/items">- 스낵</a></li>
															<li><a href="#">- 음료</a></li>
															<li><a href="#">- 영화 관람권</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">이벤트</p></li>
															<li><a href="#">- 룰렛 이벤트</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">고객센터</p></li>
															<li><a href="/FAQ/list" onclick="return checkLogin();">- FAQ</a></li>
															<li><a href="/notice/list">- 공지사항</a></li>
															<li><a href="/lost/list" onclick="return checkLogin();">- 분실물 문의</a></li>
															<li><a href="/chatt/mychatt" onclick="return checkLogin();">- 채팅 문의</a></li>
														</ul>
													</div></li> -->
												<li><a href="/FAQ/list" onclick="return checkLogin();">고객센터</a>
													<div class="megamenu">
														<ul class="single-mega cn-col-7">
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">영화</p></li>
															<li><a href="/movie/chart">-무비차트</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">예매</p></li>
															<li><a href="#">- 빠른예매</a></li>
															<li><a href="/book/schedule">- 상영시간표</a></li>
														</ul>
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">스토어</p></li>
															<li><a href="/item/items/POPCON">- 팝콘</a></li>
															<li><a href="/item/items/TICKET">- 영화관람권</a></li>
															<li><a href="/item/items/VOUCHER">- 상품권</a></li>
															<li><a href="/item/items/GOODS">- 굿즈</a></li>
															<li><a href="/item/items/SNAK">- 스낵</a></li>
															<li><a href="/item/items/DRINK">- 음료</a></li>
														</ul>

														<!-- <ul class="single-mega cn-col-5">
															<li><p class="first_title">이벤트</p></li>
															<li><a href="#">- 룰렛 이벤트</a></li>
														</ul> -->
														<ul class="single-mega cn-col-5">
															<li><p class="first_title">고객센터</p></li>
															<li><a href="/FAQ/list"
																onclick="return checkLogin();">- FAQ</a></li>
															<li><a href="/notice/list">- 공지사항</a></li>
															<li><a href="/lost/list"
																onclick="return checkLogin();">- 분실물 문의</a></li>
															<li><a href="/chatt/mychatt"
																onclick="return checkLogin();">- 채팅 문의</a></li>
														</ul>
													</div></li>
												<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MASTER')"><a
													href="#">관리자</a>
													<div class="megamenu">
														<ul class="single-mega cn-col-5">
															<li><p>관리자</p></li>
															<li><a href="/admin/itemform">- 상품 등록</a></li>
															<li><a href="/admin/items">- 상품관리</a></li>
															<li><a href="/admin/members">- 회원관리</a></li>
															<li><a href="#">- 상영관 등록</a></li>
															<li><a href="/lost/list">- 분실물 관리</a></li>
															<li><a href="/chatt/list">- 채팅 관리</a></li>
														</ul>
													</div></li>
												<li><a href="/members/info"
													sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN', 'ROLE_MASTER')">마이페이지</a></li>

												<li class="nav-item"><a class="nav-link"
													href="/login/loginForm"
													sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN', 'ROLE_MASTER')">로그인</a></li>
												<li class="nav-item"><a class="nav-link"
													href="/login/logout"
													sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN', 'ROLE_MASTER')">로그아웃</a></li>
											</ul>
										</div>
										<div class="header_bar">
											<!-- <i class=" fa-solid fa-lock fa"></i> <i
												class=" fa-solid fa-user-plus fa"></i> -->
											<a href="/order/myCart"> <i
												class="fa-solid fa-cart-shopping"></i>
											</a>
										</div>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		async
		function checkLogin() {
			try {
				const response = await
				fetch("/check-login", {
					method : "GET",
					credentials : "include" // 쿠키를 전송하기 위해 필요한 옵션
				});

				const data = await
				response.json();
				if (data.isAuthenticated) {
					// 로그인된 상태라면 링크를 클릭한 후 이동
					return true;
				} else {
					alert("로그인이 필요합니다."); // 또는 원하는 메시지 출력
					window.location.href = "/login/loginForm"; // 로그인 페이지로 리다이렉트
					return false; // 링크를 클릭해도 이동하지 않음
				}
			} catch (error) {
				console.error("로그인 여부 확인 중 오류:", error);
				// 에러 발생 시 어떻게 처리할지 정의
			}
		}
	</script>
</div>

</html>