<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">
</th:block>


<div layout:fragment="content">
	<div class="pageTitle bg_blue">
		<div class="layout1">
			<h2 class="tit">고객센터</h2>
			<p class="desc">
				OSTB에 대해 궁금하신 점이 있다면<br>무엇이든 물어보세요!
			</p>
		</div>
		<!-- pageTab -->
		<div class="pageTab">
			<div class="tab_ui type1 pageTabSwiper">
				<div class="tab_wrap swiper-container swiper-container-horizontal">
					<ul class="tab_inner swiper-wrapper">
						<li class="swiper-slide tab  swiper-slide-active"><a
							href="/FAQ/list"
							><span>FAQ</span></a></li>
						<li class="swiper-slide tab swiper-slide-next"><a
							href="/chatt/createChatt"
							><span>1:1
									문의</span></a></li>
						<li class="swiper-slide tab"><a
							href="/notice/list"
							><span>공지사항</span></a></li>
						<li class="swiper-slide tab active"><a
							href="/lost/list"
							><span>분실물
									문의</span></a></li>
					</ul>
					<span class="swiper-notification" aria-live="assertive"
						aria-atomic="true"></span>
				</div>
			</div>
		</div>
		<!--// pageTab -->
	</div>

	<!-- tab -->
	<!--// tab -->

	<div class="wrap_con">
		<div class="layout1">
			<!-- list top -->
			<!--// list top -->
			<!-- list -->
			<div class="acodiList acodi_type1">

				<section class="wrap_board_view2">
					<form role="form" action="/lost/createLost" method="post"
					th:object="${lostFormDto}"
					name="lostForm" >
					
					<input type="hidden" th:field="*{id}" />
						<!-- 게시글 영역 -->
						<div class="viewpage_edit">
							<!-- 컨텐츠 불러오는 영역 -->
					<div class="wrap_box">
						<div class="inner600">
							<div class="login_input">
									<div class="inp_bundle custId">
										<input type="text" id="lostItem" name="lostItem"  class="inp flex"  th:field="*{lostItem}" placeholder="분실물품">
										<p th:if="${#fields.hasErrors('lostItem')}" th:errors="*{lostItem}"
								class="fieldError">Incorrect Data</p>
									</div>
									<div class="inp_bundle mt custPwd textarea" >
										<textarea id="lostDetatil" name="lostDetail"class="inp flex py-3" th:field="*{lostDetail}" placeholder="분실물 상세설명"></textarea>
										<p th:if="${#fields.hasErrors('lostDetail')}" th:errors="*{lostDetail}"
								class="fieldError">Incorrect Data</p>
									</div>
							</div>
						</div>
					</div>
						<div class="btn_area btn_ac py-5">
							<button class="btn_typeB1" type="submit" id="submitBtn"><span>등록하기</span></button>
						</div>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}">
					</form>
				</section>
			</div>

		</div>
	</div>


</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/cookie.js}"></script>
	<script th:inline="javascript">
	
	$(document).ready(function(){
    	var errorMessage = [[${errorMessage}]];
    	if(errorMessage != null){
        	alert(errorMessage);
    	}
	});
	
	// 버튼 요소를 가져옵니다.
	const submitButton = document.getElementById("submitBtn");

	// 버튼에 클릭 이벤트 리스너를 추가합니다.
	submitButton.addEventListener("click", function() {
	    // 등록 완료 메시지를 표시하는 알림 창을 생성합니다.
	    alert("등록이 완료되었습니다.");
	});
	</script>



</th:block>

</html>