@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap')
	;

.content {
	height: 100% !important;
	font-family: 'Noto Sans KR', sans-serif;
}

.content p, .content a, .content span, .content label {
	color: #fff;
}

.mr_10 {
	margin-right: 10px;
}

.mr_20 {
	margin-right: 20px;
}

.mt_15 {
	margin-top: 15px;
}

.df {
	display: flex;
	justify-content: center;
	text-align: center;
}

.c_c4 {
	color: #C4C4C4 !important;
}

/* 상영스케줄 */
.scrollable-container::-webkit-scrollbar {
	display: none;
	width: 0;
}

.scrollable-container {
	scrollbar-width: none;
	overflow: scroll;
	max-height: 550px;
	overflow-y: scroll;
	-ms-overflow-style: none;
}

.box_tit {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 50px;
}

.inner {
	padding: 100px 0;
}

.date {
	font-size: 1.3rem;
	font-weight: 600 !important;
	color: #fff;
	display: flex;
	align-items: center;
	text-align: center;
}

.calendar-icon {
	display: flex;
	align-items: center;
}

.year-month {
	margin: 0 30px;
}

.calendar {
	display: flex;
	align-items: center;
}

.calendar-day {
	margin-right: 30px;
	font-size: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	text-align: center !important;
}

.selected-day {
	background-color: #29a5ff;
	color: black;
}

.tit_group {
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 15px;
}

.tit {
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 0px !important;
}

.sub_txt {
	font-size: 0.9rem;
	font-weight: 500;
	margin-bottom: 0px !important;
}

.status {
	padding-top: 8px;
}

.age {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	text-align: center;
	display: block;
	font-size: 10px !important;
	font-weight: 700;
	color: #fff;
	float: left;
	margin-bottom: 0px !important;
}

.age.age_12 {
	background: #41ADDE;
}

.age.age_15 {
	background: #E69F35;
}

.age.age_all {
	background: #0CB052;
}

.age.age_18 {
	background: #DC2121;
}

.age.age_19 {
	background: #DC2121;
}

.time_list input[type="radio"] {
	appearance: none;
}

.time_list p {
	margin: 0;
}

.time_wrap .time_list_wrap {
	display: block;
}

.time_wrap .time_list_wrap::after {
	content: "";
	display: block;
	clear: both;
}

.time_wrap .time_list_wrap .time_list {
	width: 130px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
	float: left;
	text-align: center;
	position: relative;
}

.time_wrap .time_list_wrap .time_list label {
	display: block;
	width: 100%;
	height: 60px;
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 5px;
	padding-left: 0;
	font-size: 1em;
}

.time_wrap .time_list_wrap .time_list .start {
	font-size: 1.3em;
	font-weight: 600;
	line-height: 1.4;
}

.time_wrap .time_list_wrap .time_list .end {
	font-size: 1em;
	font-weight: 400;
	margin-top: 0;
}

.time_wrap .time_list_wrap .time_list input[type="radio"]:checked+label
	{
	border: 1px solid #29a5ff;
	background: rgba(41, 165, 255, 0.24);
}

.time_wrap .time_list_wrap .time_list.off {
	opacity: 0.5;
}

/* 상영관, 상영영화 등록 */
.box_content {
	width: 50em;
	margin: auto;
	border: 1px solid #fff;
}

.form_area {
	padding: 50px 0;
}

.bttn {
	background-color: #29a5ff;
	border: 1px solid #29a5ff;
	border-radius: .25rem;
	color: #fff;
	width: 100%;
	font-size: 1.2em;
	padding: 10px;
}

.form_wrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.form_wrap input[type=radio] {
	accent-color: #29a5ff;
}

.form_area label {
	padding-bottom: 12px;
	text-align: center;
}

.form_area_input {
	padding: 10px;
	text-align: center;
	border-radius: .25rem;
	border: 1px solid #fff;
}

.form_area label, .form_area input, .form_area select {
	font-size: 1.2em;
	display: flex;
	justify-content: center;
}

.age_grade {
	padding: 0 !important;
	margin: 0 8px;
}

/* 예매 */
.first_sec, .second_sec, .pay_sec {
	float: left;
	width: 60%;
	padding: 50px;
	box-sizing: border-box;
	overflow-y: auto;
	height: 550px;
}

.third_sec {
	float: left;
	width: 40%;
	padding: 50px;
	box-sizing: border-box;
	overflow-y: auto;
	height: 550px;
}

.movie_ticket_box {
	border: 1px solid #fff;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	overflow: hidden;
}

.movie_ticket_box .time_wrap .time_list_wrap .time_list {
	width: 130px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
	float: left;
	text-align: center;
	position: relative;
}

.book_info_wrap {
	display: flex;
	align-items: center;
}

.book_info_img {
	flex: 0 0 auto;
	margin-right: 30px;
}

.book_info_con {
	flex: 1 1 auto;
}

.info_list {
	display: flex;
}

.total_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding-top: 170px;
}

.total_box .btn {
	width: 180px;
	height: 60px;
	background-color: #29a5ff;
	color: #fff;
	border-radius: .25rem;
	font-size: 1.1rem;
	font-weight: 700;
	cursor: pointer;
	border: none;
}

/* 예매 */
.boxClr {
	height: 20px;
	width: 20px;
	background-color: azure;
	color: black !important;
}

.changeRed {
	background-color: #DC2121 !important;
	color: white !important;
}

.changeGreen {
	background-color: green !important;
	color: white !important;
}

#seatDiv {
	text-align: center;
}

.screen {
	background-color: #fff;
	margin: 30px 0;
	width: 100%;
	height: 50px;
	transform: rotateX(-45deg);
	box-shadow: 0 3px 10px rgb(255 255 255/ 70%);
	align-items: center;
	color: black;
}