@charset "UTF-8";

.pop_wrap{
	padding-left: 10px;
	background-color: black;
	height: 150px;
}

.pop-top {
	background-color: black;
	width: 100%;
	max-width: 650px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid black;
	color: white;
	padding: 0;
	font-size: 20px;
}

input {
	width: 330px;
	height: 21px !important;
	border: solid 1px #29a5ff;
	border-radius: 3px;
	margin-bottom: 5px;
}

p{
	color: red; 
	font-size: 14px;
	margin: 0;
	margin-bottom: 70px
}

.btn{
	height: 24px;
	background-color: #29a5ff;
	border: solid 1px #29a5ff;
	border-radius: 3px;
	color: white;
}

.btn:hover {
	cursor: pointer;
	background-color: #0669b1;
	border: solid 1px #0669b1;
}