@charset "UTF-8";

.myReview {
	color: white !important;
	text-align: center;
	padding: 50px;
}

.profile {
	width: 80px;
	height: 90px;
}

.col-lg-6 {
	display: flex;
	margin: 0 auto;
	padding-bottom: 20px;
	border-bottom: 1px solid white;
}

.reviewBox {
	width: 800px;
	margin: 0 auto;
}

.pagination {
	width: 800px;
	margin: 0 auto;
}

.review_top {
	display: block;
	margin-left: 10px;
}

.review_low {
	display: flex;
}

.fa-solid {
	margin-top: 5px;
}

.review_button {
	font-size: 10px;
	height: 20px;
	margin-left: 20px;
	margin-top: 5px;
}