<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/book.css}" />
	<style>
.content {
	height: 1084px;
}
</style>
</th:block>
<div layout:fragment="content">
	<div class="container">
		<div class="ticketing_box bg_box" style="bottom: 0px;">
			<div class="inner">
				<p class="box_tit">예매내역</p>
				<div class="movie_ticket_box history_contents">
					<div class="left_conts">
						<div class="page_tab">
							<a href="history" class="rin2"><button type="button"
									class="on" style="cursor: pointer;">관람 가능 예매내역</button></a> <a
								href="history?tab=1" class="rin2"><button type="button"
									style="cursor: pointer;">지난 예매내역</button></a> <a
								href="history?tab=2" class="rin2"><button type="button"
									style="cursor: pointer;">취소 예매내역</button></a> <a
								href="history?tab=3" class="rin2"><button type="button"
									style="cursor: pointer;">취소 및 환불규정</button></a>
						</div>
						<div id="resvList" class="tab_desc tabType1">

							<!-- 
		                                참고 : 관람 가능한 예매내역이 없습니다. 메세지 영역
		                                주석 제거 후 확인 가능 
		                            -->
							<!-- <div class="msg_box">
		                                <p>관람 가능한 예매내역이 없습니다.</p>
		                            </div> -->

							<!-- div class="page_nav">
		                                <button type="button" class="all_prev"><img src="../images/sub/all_prev_gray.svg" alt=""></button>
		                                <button type="button" class="prev"><img src="../images/sub/prev_gray.svg" alt=""></button>
		                                <button type="button" class="num on">1</button>
		                                <button type="button" class="next"><img src="../images/sub/next_gray.svg" alt=""></button>
		                                <button type="button" class="all_next"><img src="../images/sub/all_next_gray.svg" alt=""></button>
		                            </div -->
							<div class="msg_box">
								<p>내역이 없습니다.</p>
							</div>
						</div>
						<!-- end of :: wrap -->
					</div>
					<div class="right_conts">
						<div class="area">
							<p class="sec_tit">영화 관람 방법</p>
							<ul>
								<li>예매번호 확인</li>
								<li>관람 극장 매표소 또는 무인발권기에서 입장권 발권</li>
								<li>영화관람</li>
							</ul>
							<div class="msg_box">
								<p>•&nbsp;&nbsp;&nbsp;취소가능일시 이후에는 인터넷&amp;모바일로 예매 취소가 불가합니다.</p>
								<a href="/PETC/mypage?tab=3"><button type="button"
										style="color: #fff;">취소 유의사항 보기</button>
									<i class="fa-solid fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<th:block layout:fragment="script">
</th:block>
</html>