<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/book.css}" />
</th:block>
<div layout:fragment="content">
	<div class="container">
		<div class="timetable_box bg_box_full">
			<div class="inner">
				<div class="time_scroll_box scroll_box">
					<p class="box_tit">
						</i>상영스케줄
					</p>
					<div class="movie_time">
						<div class="clear">
							<p class="date">
								<i class="fa-regular fa-calendar-days"></i>&nbsp;&nbsp;&nbsp;&nbsp;2023-08-16(수)
							</p>
						</div>
						<div id="scheduleList">
							<div class="movie_tit" style="margin-top: 50px;">
								<p class="age age_15">15</p>
								<p class="tit">미션 임파서블: 데드 레코닝 PART ONE</p>
								<p class="sub_txt">
									<span>액션,스릴러,어드벤처</span><span>2023-07-12 개봉</span><span>163분</span>
								</p>
							</div>
							<div class="time_wrap">
								<div class="time_wrap_top">
									<p class="tit">2D 디지털 자막</p>
									<p class="sub_text loc">4관 (3층)</p>
									<p class="sub_text">총 92석</p>
									<div class="location">
										<p class="loc">4관 (3층)</p>
										<p class="chair">총 92석</p>
									</div>
								</div>
								<div class="time_list_wrap">
									<div class="time_list">
										<input type="radio" id="time_11390040" name="movie_time">
										<label class="on" for="time_11390040" data-key="0"
											data-skey="004" data-cid="81" data-tid="102" data-mid="1139"
											data-scrncode="04" data-amt-gid="51" data-scode="97727"
											data-showtime="02" data-theacd="97727" data-mdate="20230816"
											data-mtime="1550">
											<p class="start">15:50</p>
											<p class="end">~18:33</p>
										</label>
										<p class="num">89석</p>
									</div>
								</div>
							</div>

							<div class="movie_tit" style="margin-top: 50px;">
								<p class="age age_15">15</p>
								<p class="tit">보호자</p>
								<p class="sub_txt">
									<span>액션,드라마</span><span>2023-08-15 개봉</span><span>98분</span>
								</p>
							</div>

							<div class="time_wrap">
								<div class="time_wrap_top">
									<p class="tit">2D 디지털</p>
									<p class="sub_text loc">2관 (1층)</p>
									<p class="sub_text">총 160석</p>
									<div class="location">
										<p class="loc">2관 (1층)</p>
										<p class="chair">총 160석</p>
									</div>
								</div>
								<div class="time_list_wrap">
									<div class="time_list off">
										<input type="radio" id="time_11540020" name="movie_time">
										<label class="off" for="time_11540020">
											<p class="start">12:30</p>
											<p class="end">~14:08</p>
										</label>
										<p class="num">예매마감</p>
									</div>
									<div class="time_list off">
										<input type="radio" id="time_11540021" name="movie_time">
										<label class="off" for="time_11540021">
											<p class="start">15:00</p>
											<p class="end">~16:38</p>
										</label>
										<p class="num">예매마감</p>
									</div>
									<div class="time_list">
										<input type="radio" id="time_11540022" name="movie_time">
										<label class="on" for="time_11540022" data-key="2"
											data-skey="002" data-cid="81" data-tid="100" data-mid="1154"
											data-scrncode="02" data-amt-gid="51" data-scode="97720"
											data-showtime="03" data-theacd="97720" data-mdate="20230816"
											data-mtime="1730">
											<p class="start">17:30</p>
											<p class="end">~19:08</p>
										</label>
										<p class="num">160석</p>
									</div>
									<div class="time_list">
										<input type="radio" id="time_11540023" name="movie_time">
										<label class="on" for="time_11540023" data-key="3"
											data-skey="002" data-cid="81" data-tid="100" data-mid="1154"
											data-scrncode="02" data-amt-gid="51" data-scode="97721"
											data-showtime="04" data-theacd="97721" data-mdate="20230816"
											data-mtime="2010">
											<p class="start">20:10</p>
											<p class="end">~21:48</p>
										</label>
										<p class="num">160석</p>
									</div>
								</div>
							</div>


							<div class="movie_tit" style="margin-top: 50px;">
								<p class="age age_15">15</p>
								<p class="tit">밀수</p>
								<p class="sub_txt">
									<span>범죄</span><span>2023-07-26 개봉</span><span>129분</span>
								</p>
							</div>

							<div class="time_wrap">
								<div class="time_wrap_top">
									<p class="tit">2D 디지털</p>
									<p class="sub_text loc">3관 (1층)</p>
									<p class="sub_text">총 226석</p>
									<div class="location">
										<p class="loc">3관 (1층)</p>
										<p class="chair">총 226석</p>
									</div>
								</div>
								<div class="time_list_wrap">
									<div class="time_list off">
										<input type="radio" id="time_11590030" name="movie_time">
										<label class="off" for="time_11590030">
											<p class="start">12:30</p>
											<p class="end">~14:39</p>
										</label>
										<p class="num">예매마감</p>
									</div>
									<div class="time_list off">
										<input type="radio" id="time_11590031" name="movie_time">
										<label class="off" for="time_11590031">
											<p class="start">15:00</p>
											<p class="end">~17:09</p>
										</label>
										<p class="num">예매마감</p>
									</div>
									<div class="time_list">
										<input type="radio" id="time_11590032" name="movie_time">
										<label class="on" for="time_11590032" data-key="2"
											data-skey="003" data-cid="81" data-tid="101" data-mid="1159"
											data-scrncode="03" data-amt-gid="51" data-scode="97724"
											data-showtime="03" data-theacd="97724" data-mdate="20230816"
											data-mtime="1730">
											<p class="start">17:30</p>
											<p class="end">~19:39</p>
										</label>
										<p class="num">226석</p>
									</div>
									<div class="time_list">
										<input type="radio" id="time_11590033" name="movie_time">
										<label class="on" for="time_11590033" data-key="3"
											data-skey="003" data-cid="81" data-tid="101" data-mid="1159"
											data-scrncode="03" data-amt-gid="51" data-scode="97725"
											data-showtime="04" data-theacd="97725" data-mdate="20230816"
											data-mtime="2010">
											<p class="start">20:10</p>
											<p class="end">~22:19</p>
										</label>
										<p class="num">226석</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="script">
</th:block>
</html>
