<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<style>
	.content{
	background-color: white;
	}
</style>
</th:block>

<div layout:fragment="content">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 header_margin">
					<div class="titlepage">
						<p class="margin_0">최고의 휴식, 맛있는 음식! 최고의 1석 2조 'OSTB'입니다.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<th:block th:each="item, status: ${items}">
					<div th:if="${item.categori.toString() == 'POPCON'}">
							<a th:href="'/item/' + ${item.id}" th:text="${item.itemNm}"></a>
					</div>
				</th:block>
			</div>
		</div>
	</div>
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	</script>

</th:block>

</html>